.Results {
    text-align: left;
}

.WordMeaning {
    color: #505bd2;
    font-weight: 600;
    position: relative;
    top: 300px;
}

.Phonetic {
    color: #505bd2;
}

.Keyword {
    color: #505bd2;
    font-size: 35px;
    font-weight: 700;
    margin-top: 40px;
}
.Phonetics {
    margin-top: 20px;
}
