.WordMeaning {
    color: #505bd2;
    font-weight: 600;
    position: relative;
    top: 300px;
}

.Phonetic {
    color: #505bd2;
}

.Keyword {
    color: #505bd2;
    font-size: 35px;
    font-weight: 700;
}
